h1 {
    text-align: center;
}

body {
    background: #121212;
    font-family: "Courier New", monospace;
    font-size: 12px;
    font-weight: 200;
    line-height: 1; 
    color: #aaa8a8;
    width: 1500px


  }
  .button-container {
    text-align: center;
  }
  .start-mowing {
    background-color: #fdfdfd;
  }
  .forward {
    background-color: #166a01;
  }
  .stop {
    background-color: #ff0000;
    
  }
  .reverse {
    background-color: #166a01;
  }
  #grass {
    align-content: center;
    position: absolute;
    left: 0;
    top: 200px; 
  }
  #mower {
    position: absolute;
    left: 0;
    top: 108px; 
    transition: left 0.5s ease;
  }
  #container {
    position: relative;
  }
  
  
  .text-line {
    position:fixed;
    top: 400px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: #aaa8a8; 
    padding: 10px; 
    font-size: 35px; 
    font-weight: bold; 
  }